@import '../App.scss';

.header__conteneur__citation{
    margin-left: 20%;
    font-family: 'Dancing Script';
    background: transparent;
    color: inherit;
    font-size: 3.2em;
  }
  .header__conteneur__auteur{
    margin-left: 30%;
    font-family: 'Dancing Script';
    background: transparent;
    color: inherit;
    font-size: 1.6em;
  }