@import '../App.scss';


.portrait__conteneur__photo {
    width: 150px;
    border-radius: 50%;
    
    background: transparent;
    display: inline-block;
}

.portrait__conteneur__name{
    font-family: 'Dancing Script';
    display: inline-block;
    vertical-align : top;
    background: transparent;
    div{
        background: transparent;
        color: $color1;
        font-weight: 1000;
        font-size: x-large;
    }
    div:first-child{
        margin-top: 40px;
    }
    div:last-child{
        font-style: italic;
        font-size: medium;
    }
}